.title{
    color:rgba(47, 7, 86, 0.956);
    background-color: rgba(214, 233, 139, 0.726);
    padding: 1rem;
    display:inline-block;
    border-radius: 1rem;
    

    
}

.Container{
    text-align: center;
    padding: 5rem;
   background-color: rgba(250, 235, 215, 0.367);
}